# {{ ansible_managed | default("Managed by Ansible") }}
[Unit]
Description=Node Exporter

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecStart=/usr/local/bin/node_exporter \
  --web.listen-address={{ node_exporter_listen_address }}{% if node_exporter_textfile_enabled | bool %} \
  --collector.textfile.directory={{ node_exporter_textfile_dir }}{% endif %}{% for arg in node_exporter_extra_args %} \
  {{ arg }}{% endfor %}

[Install]
WantedBy=multi-user.target
